:root {
  --hg-main: hsla(195, 53%, 79%, 1);
  /* --hue-wintergrey: rgb(93, 94, 105); */
  --hue-snowgrey: hsla(218, 19%, 89%, 1);
  --hue-wintergrey: hsla(218, 19%, 59%, 1);
  --halfway-see-through-snowgrey: hsla(218, 19%, 89%, 0.75);
  --halfway-see-through-main: hsla(195, 53%, 79%, 0.5);
}

.top-background-image {
  background-image: url("./top-wintersfroth-image.jpg");
  /* background-image: url("https://via.placeholder.com/1000/835a3c/835a3c.com"); */
  background-size: cover;
  background-position: bottom;
}

.vertical-image {
  max-width: 100%;
}

a {
  color: var(--text-dark);
}

.hg-main {
  background-color: var(--hg-main);
}

.button-main-style {
  background-color: var(--hg-main);
  color: var(--text-dark);
}

.text-main-hue {
  color: var(--hg-main);
}

.stave-shadow-big {
  text-shadow: 1px 1px 0px var(--hue-wintergrey);
}

.stave-shadow-small {
  text-shadow: 0.5px 0.5px 0px var(--wintergrey);
}

h4 {
  font-size: 1.25rem;
}

.background-snowgrey {
  background-color: var(--hue-snowgrey);
}

/* 
.outside-border-main-halfway-see-through { 
  border-left: 0.5rem solid var(--halfway-see-through-main);
  border-right: 0.5rem solid var(--halfway-see-through-main);
}
*/

.set-25percent-down {
  position: relative;
  top: 25%;
}

.hg-halfway-see-through {
  background-color: var(--halfway-see-through-snowgrey);
}

.right-15px {
  position: relative;
  left: 15px;
}

p i {
  color: var(--hg-main);
  text-shadow: 1px 1px 0px black;
}

.mid-height: {
  position: relative;
  top: 50% "";
}

@media only screen and (min-width: 768px) {
  .below-bottom {
  top: 20%;
  z-index: 1;
}