/* CSS Styles */

/* Colors */
:root {
  --hg-main: hsla(195, 53%, 79%, 1);
  --hg-main-darker: hsla(195, 53%, 59%, 1);
  --hue-snowgrey: hsla(218, 19%, 89%, 1);
  --hue-snow: hsla(218, 19%, 98%, 1);
  --hue-wintergrey: hsla(218, 19%, 59%, 1);
  --halfway-see-through-snowgrey: hsla(218, 19%, 89%, 0.75);
  --halfway-see-through-main: hsla(195, 53%, 79%, 0.5);
}
/*  */

/* Backgrounds and Images */
.top-background-image {
  background-image: url("./top-image-winterlodge.jpg");
  background-size: cover;
  background-position: bottom;
}

.hg-main {
  background-color: var(--hg-main);
}

.hg-main-darker {
  background-color: var(--hg-main-darker);
}

.hg-snow {
  background-color: var(--hue-snow);
}

.vertical-image {
  max-width: 100%;
}

.hg-halfway-see-through {
  background-color: var(--halfway-see-through-snowgrey);
}
/*  */

/* Buttons */
.button-main-style {
  background-color: var(--hg-main);
  color: var(--text-dark);
}

.button-main-style:hover {
  background-color: var(--hg-main-darker);
  color: var(--hue-snow);
}
/*  */

/* Text, Anchor, and Icon Properties */
.text-main-hue {
  color: var(--hg-main);
}

.stave-shadow-big {
  text-shadow: 1px 1px 0px var(--hue-wintergrey);
}

.stave-shadow-black {
  text-shadow: 1px 1px 0px black;
}

.stave-shadow-pines {
  text-shadow: 1px 1px 10px var(--hue-wintergrey);
}

.stave-shadow-small {
  text-shadow: 0.5px 0.5px 0px var(--hue-wintergrey);
}

.brand-font {
  font-family: "Balthazar", serif;
}

h4 {
  font-size: 1.25rem;
}

p i {
  color: var(--hg-main);
  text-shadow: 1px 1px 0px black;
}

.bigger-font {
  font-size: 1.5rem;
}

.smaller-font {
  font-size: 1.15rem;
}

.snowgrey-font {
  color: var(--hue-snowgrey);
}

.under-text {
  color: var(--hg-main-darker);
}

a {
  color: var(--text-dark);
}

.bottom-footer-text {
  color: var(--hue-wintergrey);
  text-align: center;
  vertical-align: middle;
}

.holly-berries {
  color: var(--hg-main);
  text-shadow: 1px 1px 0px black;
  font-size: 2rem;
}

.holly-padding {
  padding: 0 0.5rem;
}
/*  */

/* Positioning Properites */
.set-25percent-down {
  position: relative;
  top: 25%;
}

.right-15px {
  position: relative;
  left: 15px;
}

@media only screen and (min-width: 768px) {
  .below-bottom {
    top: 20%;
    z-index: 1;
  }
}
/*  */

/* Border and Line Break Properties */
hr {
  width: 100%;
  height: 1px;
  background-color: var(--hue-snowgrey);
  border: none;
  margin: 2px 1rem 0 auto;
}

.hr-border-bottom {
  border-bottom: 1px solid var(--hue-snowgrey);
}

.leftside-border {
  border-left-style: solid;
  border-left-width: 0.2rem;
  border-color: var(--hue-snowgrey);
}
/*  */
